<div class="card5">
  <div class="chart">
    <div class="header">
      <div class="title">
        <span>Revenue Report</span>
      </div>
      <div class="legend">
        <div class="purple"></div>
        <h5>Earning</h5>
        <div class="orange"></div>
        <h5>Expanse</h5>
      </div>
    </div>

    <div id="chart"></div>
  </div>

  <div class="info">
    <button id="transparent">2020</button>
    <span>$25.852</span>
    <h4>Budget: $56.800</h4>
    <img src="../../../../assets/linechart.png" alt="linechart" />
    <button>increase budget</button>
  </div>
</div>
