<div class="card8">
  <div class="img">
    <img src="../../../../assets/illustration.png" alt="" />
  </div>

  <div class="info">
    <div class="event">
      <div class="date">
        <span>THU</span>
        <span>24</span>
      </div>
      <div class="location">
        <span>Developer Meetup</span>
        <span>Meet world popular developers</span>
      </div>
    </div>
    <div class="detail">
      <div class="calendar">
        <div class="icon">
          <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="txt">
          <span>Sat, May 25, 2020</span>
          <h5>10AM to 6PM</h5>
        </div>
      </div>

      <div class="locale">
        <div class="icon">
          <mat-icon> location_on</mat-icon>
        </div>
        <div class="txt">
          <span>Central Park</span>
          <h5>Manhattan, New York City</h5>
        </div>
      </div>

      <div class="profiles">
        <img src="../../../../assets/profiles.png" alt="" />
      </div>
    </div>
  </div>
</div>
