<div class="header">
  <div class="contact">
    <mat-icon>alternate_email</mat-icon>
    <mat-icon> chat_bubble_outline</mat-icon>
    <mat-icon>check_box</mat-icon>
    <mat-icon>calendar_today</mat-icon>
    <mat-icon>star_border</mat-icon>
  </div>

  <div class="profile">
    <div class="country">
      <span>English</span>
    </div>
    <mat-icon>brightness_low</mat-icon>
    <mat-icon>search</mat-icon>
    <mat-icon>shopping_cart</mat-icon>
    <mat-icon>notifications</mat-icon>
    <div class="description">
      <span>Vitor</span>
      <h6>Admin</h6>
    </div>
    <div class="icon">
      <img src="../../../../assets/gear5.jpeg" alt="" />
    </div>
  </div>
</div>
