<div class="card9">
  <div class="header">
    <div class="title">
      <span>Browser States</span>
      <h5>Counter August 2020</h5>
    </div>
    <div class="icon">
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>

  <div class="info">
    <div class="chrome">
      <div class="icon">
        <img src="../../../../assets/chrome.png" alt="" />
      </div>
      <div class="txt">
        <span>Google Chrome</span>
        <span>54.4%</span>
      </div>
    </div>

    <div class="mozila">
      <div class="icon">
        <img src="../../../../assets/firefox.png" alt="" />
      </div>
      <div class="txt">
        <span>Mozila Firefox</span>
        <span>6.1%</span>
      </div>
    </div>

    <div class="safari">
      <div class="icon">
        <img src="../../../../assets/safari.png" alt="" />
      </div>
      <div class="txt">
        <span>Apple Safari</span>
        <span>14.6%</span>
      </div>
    </div>

    <div class="explorer">
      <div class="icon">
        <img src="../../../../assets/explorer.png" alt="" />
      </div>
      <div class="txt">
        <span>Internet Explorer</span>
        <span>4.2%</span>
      </div>
    </div>

    <div class="opera">
      <div class="icon">
        <img src="../../../../assets/opera.png" alt="" />
      </div>
      <div class="txt">
        <span>Opera Mini</span>
        <span>8.4%</span>
      </div>
    </div>
  </div>
</div>
