<div class="transactions">
  <div class="header">
    <h3>Transactions</h3>
    <mat-icon>more_vert</mat-icon>
  </div>

  <div class="itens">
    <div class="wallet">
      <div class="icon">
        <mat-icon>account_balance_wallet</mat-icon>
      </div>

      <div class="txt">
        <div class="info">
          <span>Wallet</span>
          <h6>Starbucks</h6>
        </div>

        <div class="value">
          <span> -$74</span>
        </div>
      </div>
    </div>

    <div class="bank">
      <div class="icon">
        <mat-icon>check</mat-icon>
      </div>

      <div class="txt">
        <div class="info">
          <span>Bank Transfer</span>
          <h6>Add Money</h6>
        </div>

        <div class="value">
          <span> +$480</span>
        </div>
      </div>
    </div>

    <div class="paypal">
      <div class="icon">
        <mat-icon> attach_money</mat-icon>
      </div>

      <div class="txt">
        <div class="info">
          <span>Paypal</span>
          <h6>Add Money</h6>
        </div>

        <div class="value">
          <span> +$590</span>
        </div>
      </div>
    </div>

    <div class="mastercard">
      <div class="icon">
        <mat-icon>credit_card</mat-icon>
      </div>

      <div class="txt">
        <div class="info">
          <span>Mastercard</span>
          <h6>Ordered Food</h6>
        </div>

        <div class="value">
          <span> -$23</span>
        </div>
      </div>
    </div>

    <div class="transfer">
      <div class="icon">
        <mat-icon>trending_up</mat-icon>
      </div>

      <div class="txt">
        <div class="info">
          <span>Transfer</span>
          <h6>Refund</h6>
        </div>

        <div class="value">
          <span> +$98</span>
        </div>
      </div>
    </div>
  </div>
</div>
