<div class="card2">
  <div class="header">
    <span>Statistics</span>
    <h5>Updated 1 month ago</h5>
  </div>
  <div class="icon">
    <div class="sales">
      <div class="trendup">
        <mat-icon>trending_up</mat-icon>
      </div>
      <div class="info">
        <span>230k</span>
        <h6>Sales</h6>
      </div>
    </div>

    <div class="customers">
      <div class="user">
        <mat-icon>account_circle</mat-icon>
      </div>

      <div class="info">
        <span>8.5k</span>
        <h6>Customers</h6>
      </div>
    </div>

    <div class="products">
      <div class="cart">
        <mat-icon>shopping_cart</mat-icon>
      </div>

      <div class="info">
        <span>1.4k</span>
        <h6>Products</h6>
      </div>
    </div>

    <div class="revenue">
      <div class="dolar">
        <mat-icon> attach_money</mat-icon>
      </div>

      <div class="info">
        <span>$9.7k</span>
        <h6>Revenue</h6>
      </div>
    </div>
  </div>
</div>

<!-- <div class="sales">
      <div class="tradeup">
        <mat-icon>trending_up</mat-icon>
      </div>
      <div class="info">
        <h3>230k</h3>
        <h6>Sales</h6>
      </div>
    </div>

    <div class="customers">
      <div class="user">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="info">
        <h3>8.5k</h3>
        <h6>Customers</h6>
      </div>
    </div>

    <div class="products">
      <div class="car">
        <mat-icon>add_shopping_cart</mat-icon>
      </div>
      <div class="info">
        <h3>1.4k</h3>
        <h6>Products</h6>
      </div>
    </div>

    <div class="revenue">
      <div class="dolar">
        <mat-icon> attach_money</mat-icon>
      </div>
      <div class="info">
        <h3>$9.745,00</h3>
        <h6>Revenue</h6>
      </div>
    </div> -->
