/* CSS Card */
.card2 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  color: var(--txt-white);
}

/* CSS of header */
.card2 .header {
  display: flex;
  justify-content: space-between;
}
/* Finish CSS header */
.card2 .header span {
  font-size: 1.3rem;
}

/* Position of the icons */
.card2 .icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
/* Finish position of the icons */

/* First Icon */
.card2 .icon .sales {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card2 .icon .sales .info {
  font-size: 1.2rem;
}

.card2 .icon .trendup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: var(--bg-purple);
  color: var(--icon-purple);
}

.card2 .icon .trendup mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
/* Finish first icon */

/* Second icon */
.card2 .icon .customers {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card2 .icon .customers .info {
  font-size: 1.2rem;
}

.card2 .icon .user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: var(--bg-blue);
  color: var(--icon-blue);
}

.card2 .icon .user mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
/* Finish second icon */

/* third icon */
.card2 .icon .products {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card2 .icon .products .info {
  font-size: 1.2rem;
}

.card2 .icon .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: var(--bg-red);
  color: var(--icon-red);
}

.card2 .icon .cart mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
/* Finish third icon */

/* fourth icon */
.card2 .icon .revenue {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card2 .icon .revenue .info {
  font-size: 1.2rem;
}

.card2 .icon .dolar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: var(--bg-green);
  color: var(--icon-green);
}

.card2 .icon .dolar mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
