<div class="table">
  <table>
    <tr>
      <th>COMPANY</th>
      <th>CATEGORY</th>
      <th>VIEWS</th>
      <th>REVENUE</th>
      <th>SALES</th>
    </tr>

    <tr>
      <td>
        <div class="dixons">
          <div class="icon"></div>
          <div class="info">
            <span>Dixons</span>
            <h5>meguc@ruj.io</h5>
          </div>
        </div>
      </td>

      <td>
        <div class="dixonstech">
          <div class="icon">
            <mat-icon>desktop_mac</mat-icon>
          </div>
          <div class="info">
            <span>Technology</span>
          </div>
        </div>
      </td>
      <td>
        <span>23.4k</span>
        <h5>in 24 hours</h5>
      </td>
      <td>
        <span>$891.2</span>
      </td>
      <td>
        <div class="dixonsales">
          <div class="info">
            <span>68%</span>
          </div>
          <div class="icon">
            <mat-icon>trending_down</mat-icon>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="motels">
          <div class="icon"></div>
          <div class="info">
            <span>Motels</span>
            <h5>vecav@hodzi.co.uk</h5>
          </div>
        </div>
      </td>

      <td>
        <div class="motgrocery">
          <div class="icon">
            <mat-icon> fastfood</mat-icon>
          </div>
          <div class="info">
            <span>Grocery</span>
          </div>
        </div>
      </td>
      <td>
        <span>78k</span>
        <h5>in 2 days</h5>
      </td>
      <td>
        <span>$668.51</span>
      </td>
      <td>
        <div class="motsales">
          <div class="info">
            <span>97%</span>
          </div>
          <div class="icon">
            <mat-icon>trending_up</mat-icon>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="zipcar">
          <div class="icon"></div>
          <div class="info">
            <span>Zipcar</span>
            <h5>davcilse@is.gov</h5>
          </div>
        </div>
      </td>

      <td>
        <div class="zipfashion">
          <div class="icon">
            <mat-icon>watch</mat-icon>
          </div>
          <div class="info">
            <span>Fashion</span>
          </div>
        </div>
      </td>
      <td>
        <span>162</span>
        <h5>in 5 days</h5>
      </td>
      <td>
        <span>$522.29</span>
      </td>
      <td>
        <div class="zipsales">
          <div class="info">
            <span>62%</span>
          </div>
          <div class="icon">
            <mat-icon>trending_up</mat-icon>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="owning">
          <div class="icon"></div>
          <div class="info">
            <span>Owning</span>
            <h5>us@cuhil.gov</h5>
          </div>
        </div>
      </td>

      <td>
        <div class="owningtech">
          <div class="icon">
            <mat-icon>desktop_mac</mat-icon>
          </div>
          <div class="info">
            <span>Technology</span>
          </div>
        </div>
      </td>
      <td>
        <span>214</span>
        <h5>in 24 hours</h5>
      </td>
      <td>
        <span>$291.01</span>
      </td>
      <td>
        <div class="owningsales">
          <div class="info">
            <span>88%</span>
          </div>
          <div class="icon">
            <mat-icon>trending_up</mat-icon>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="cafes">
          <div class="icon"></div>
          <div class="info">
            <span>Coffees</span>
            <h5>pudais@jife.com</h5>
          </div>
        </div>
      </td>

      <td>
        <div class="cafesgrocery">
          <div class="icon">
            <mat-icon>fastfood</mat-icon>
          </div>
          <div class="info">
            <span>Grocery</span>
          </div>
        </div>
      </td>
      <td>
        <span>208</span>
        <h5>in 1 week</h5>
      </td>
      <td>
        <span>$783.93</span>
      </td>
      <td>
        <div class="cafesales">
          <div class="info">
            <span>16%</span>
          </div>
          <div class="icon">
            <mat-icon>trending_down</mat-icon>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="kmart">
          <div class="icon"></div>
          <div class="info">
            <span>Kmart</span>
            <h5>bipri@cawiw.com</h5>
          </div>
        </div>
      </td>

      <td>
        <div class="kmartfashion">
          <div class="icon">
            <mat-icon>watch</mat-icon>
          </div>
          <div class="info">
            <span>Fashion</span>
          </div>
        </div>
      </td>
      <td>
        <span>990</span>
        <h5>in 1 month</h5>
      </td>
      <td>
        <span>$780.05</span>
      </td>
      <td>
        <div class="kmartsales">
          <div class="info">
            <span>78%</span>
          </div>
          <div class="icon">
            <mat-icon>trending_up</mat-icon>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="payers">
          <div class="icon"></div>
          <div class="info">
            <span>Payers</span>
            <h5>luk@izug.io</h5>
          </div>
        </div>
      </td>

      <td>
        <div class="payfashion">
          <div class="icon">
            <mat-icon>watch</mat-icon>
          </div>
          <div class="info">
            <span>Fashion</span>
          </div>
        </div>
      </td>
      <td>
        <span>12.9k</span>
        <h5>in 12 hours</h5>
      </td>
      <td>
        <span>$531.49</span>
      </td>
      <td>
        <div class="paysales">
          <div class="info">
            <span>42%</span>
          </div>
          <div class="icon">
            <mat-icon>trending_up</mat-icon>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
