<div class="table">
  <table>
    <tr>
      <th>COMPANY</th>
      <th>CATEGORY</th>
      <th>VIEWS</th>
      <th>REVENUE</th>
      <th>SALES</th>
    </tr>

    <tr>
      <td>
        <div class="dixons">
          <div class="icon"></div>
          <div class="info">
            <span>Dixons</span>
            <h6>meguc@ruj.io</h6>
          </div>
        </div>
      </td>

      <td>
        <div class="dixonstech">
          <div class="icon">
            <mat-icon>desktop_mac</mat-icon>
          </div>
          <div class="info">
            <span>Technology</span>
          </div>
        </div>
      </td>
      <td>
        <span>23.4k</span>
        <h6>in 24 hours</h6>
      </td>
      <td>
        <span>$891.2</span>
      </td>
      <td>
        <div class="dixonsales">
          <div class="info">
            <span>68%</span>
          </div>
          <div class="icon">
            <mat-icon>trending_down</mat-icon>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
