.container {
  display: flex;
  width: 100%;
}

.container .menu {
  background: var(--bg-card);
  width: 20rem;
  height: 100%;
}

.container .content {
  width: 100%;
  padding: 2rem 5rem;
}

.container .content .dash .boxheader {
  position: fixed;
  width: calc(100% - 26rem);
}

.container .content .dash {
  display: grid;
  grid-template-areas:
    "boxheader boxheader boxheader boxheader boxheader boxheader"
    "box1 box1 box2 box2 box2 box2"
    "box3 box4 box5 box5 box5 box5"
    "box6 box6 box5 box5 box5 box5"
    "box7 box7 box7 box7 box8 box8"
    "box7 box7 box7 box7 box8 box8"
    "box9 box9 box10 box10 box11 box11";
  grid-template-rows: 3rem repeat(5, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

.boxheader {
  grid-area: boxheader;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;
}

.box8 {
  grid-area: box8;
}

.box9 {
  grid-area: box9;
}

.box10 {
  grid-area: box10;
}

.box11 {
  grid-area: box11;
}

.container .content .box {
  background-color: var(--bg-card);
  border-radius: 1rem;
}
