<div class="menu">
  <div class="header">
    <div class="logo">
      <img src="../../../../assets/logo.jpg" alt="logo" />
      <span>Vuexy</span>
    </div>
    <ul>
      <li>
        <mat-icon>home</mat-icon>
        DashBoards
      </li>
    </ul>
  </div>

  <div class="apppage">
    <ul>
      <li>
        <h5>APP & PAGES</h5>
      </li>
      <li>
        <mat-icon>email</mat-icon>
        E-mail
      </li>
      <li>
        <mat-icon>chat_bubble</mat-icon>
        Chat
      </li>
      <li>
        <mat-icon>playlist_add_check</mat-icon>
        ToDo
      </li>
      <li>
        <mat-icon>calendar_today</mat-icon>
        Calendar
      </li>
      <li>
        <mat-icon>description</mat-icon>
        Pages
      </li>
      <li>
        <mat-icon>description</mat-icon>
        Invoice
      </li>
      <li>
        <mat-icon>shopping_cart</mat-icon>
        eCommerce
      </li>
      <li>
        <mat-icon>account_box</mat-icon>
        User
      </li>
    </ul>
  </div>

  <div class="userinterface">
    <ul>
      <li>
        <h5>USER INTERFACE</h5>
      </li>
      <li>
        <mat-icon> title</mat-icon>
        Typograph
      </li>
      <li>
        <mat-icon>color_lens</mat-icon>
        Colors
      </li>
      <li>
        <mat-icon>remove_red_eye</mat-icon>
        Feather
      </li>
      <li>
        <mat-icon>credit_card</mat-icon>
        Cards
      </li>
      <li>
        <mat-icon>settings_input_component</mat-icon>
        Components
      </li>
      <li>
        <mat-icon>add_circle_outline</mat-icon>
        Extension
      </li>
      <li>
        <mat-icon>dashboard</mat-icon>
        Page Layouts
      </li>
    </ul>
  </div>

  <div class="formstables">
    <ul>
      <li>
        <h5>FORMS & TABLES</h5>
      </li>
      <li>
        <mat-icon>file_copy</mat-icon>
        Form Elements
      </li>
      <li>
        <mat-icon>inbox</mat-icon>
        Form Layouts
      </li>
      <li>
        <mat-icon>markunread_mailbox</mat-icon>
        Form Wizard
      </li>
      <li>
        <mat-icon>check_circle_outline</mat-icon>
        Form Validations
      </li>
      <li>
        <mat-icon>repeat</mat-icon>
        Form Repeater
      </li>
      <li>
        <mat-icon> table_chart</mat-icon>
        Table
      </li>
      <li>
        <mat-icon>grid_on</mat-icon>
        DataTables
      </li>
    </ul>
  </div>

  <div class="chartsmaps">
    <ul>
      <li>
        <h5>CHARTS & MAPS</h5>
      </li>
      <li>
        <mat-icon> bar_chart</mat-icon>
        Charts
      </li>
      <li>
        <mat-icon> map</mat-icon>
        Google Maps
      </li>
    </ul>
  </div>

  <div class="others">
    <ul>
      <li>
        <h6>OTHERS</h6>
      </li>
      <li>
        <mat-icon>menu</mat-icon>
        Menu Levels
      </li>
      <li>
        <mat-icon>menu</mat-icon>
        Disabled Menu
      </li>
      <li>
        <mat-icon>description</mat-icon>
        Documentation
      </li>
      <li>
        <mat-icon>contact_support</mat-icon>
        Raise Support
      </li>
    </ul>
  </div>
</div>
